.tech{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    color:black;
    
}
.tech-section-title{
    padding:50px
}


.tech-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.tech-card {
    width: 200px;
    height: 200px;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}
@media (min-width: 768px) {
    .tech-card {
        width: 120px;
        height: 120px;
    }
}

.tech-card:hover {
    background: #F14436;
    transform: scale(1.1);
    color: white;
}

.tech-icon {
    width: 50px;
    height: 50px;
    margin-top:40px;
    transition: margin 0.3s ease;
}

.tech-name {
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
    visibility: hidden;
}

.tech-overlay {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    visibility: hidden;
}

.tech-card:hover .tech-icon{
    margin:0;
}

.tech-card:hover .tech-name{
    opacity: 1;
    visibility: visible;
}


.tech-card:hover .tech-overlay{
    opacity: 1;
    visibility: visible;
}